{% extends "content.html" %}
{% block inner %}
{# core/modules/scheduler/templates/content.html #}
<div class="table-toolbar" data-debug-label="table-toolbar">
  <div class="table-toolbar-title">Scheduler-Jobs</div>
  <div class="table-toolbar-right">
    <button class="btn btn-primary btn-sm"
            hx-get="/ui/{{ key }}/job/new?container_id={{ container_id }}&loading_id={{ loading_id }}"
            hx-target="body" hx-swap="beforeend">
      Neu
    </button>
  </div>
</div>

{% include 'scheduler/partials/list.html' %}
{% endblock %}
